.main{
 display: flex;
 background-color: black;
 border-radius: 10px;
 color: white;
 margin-left: 10%;
 margin-right: 10%;
 flex-wrap: wrap;
 
}
.text{
    padding-left:50px;
}



body{
    max-width: 1240px;
   
    margin: 0 auto;
}
@media screen and( mini-width:576px) {
    .text{
        flex-direction: column;
    }
    .text,h1,p{
        width: 100%;
    }
}
.pic{
 width: 100%;
  
   
}
.heading{
    text-decoration: none;
    border: 1px solid red;
    font-weight: 700;
    background-color: red;
    color: white; 
    }
    .head{
       height: 170px;
       background:black;
       border-radius: 5px;
         margin-top: 2%;
    }
    .bl{
        border: 10px solid black;
        background-color: red;
    }
    .all{
        border: 10px solid black;
        background-color: white;
        margin-top: 0;
    }
    .up{
      border: 10px solid black;
      background-color: white;
    }
    .change{
        text-decoration: none;
        border: 1px solid darkgrey;
    } 
     footer{
        background-color: black;
        color: white;
        text-align: center;
        gap: 15px;
    }  


     .blog{
       
        padding: 5px;
        border-radius: 5px;
       
    }
.part{
  display: flex;
  margin-top: 20%;
  
}
@media only screen and (max-width: 600px) {
    .part {
           flex-wrap: wrap;
           width: 100%;
           flex-direction: column;
    }
    }
    .hide{
        
    }
       
        


  





    
  
      
  
    
